<div class="search-container">
  <form id="list-form">
    <input
      name="list_name"
      id="list-input"
      type="text"
      placeholder="Search.."
    />
    <button type="submit">Submit</button>
  </form>
</div>

<script src="/js/addlist.js"></script>