<div class="search-container">
  <form method="POST" action="/list/{{id}}">
    <input name="stock_symbol" type="text" placeholder="Search.." />
    <button type="submit">Submit</button>
  </form>
</div>