<div class="search-container">
    <form method="POST" action="/list">
      <input name="list_name" type="text" placeholder="Search..">
      <button type="submit">Submit</button>
    </form>
  </div>