<div class="row">
     <div class="col-sm-4">
        <div class="bg-light pt-3 px-3 pt-md-5 px-md-5 m-md-3 text-center overflow-hidden">
            <div class="my-3 py-3">
                {{#each lists}}
                    <h1>{{ list_name }}</h1>
                    <ul>
                        {{#each stocks}}
                            <li>{{stock_symbol}}</li>
                        {{/each}}
                    </ul>
                {{/each}}
                
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="bg-light pt-3 px-3 pt-md-5 px-md-5 m-md-3 text-center overflow-hidden">
            <div class="my-3 py-3">
                <h2 class="display-5">Chart</h2>
            </div>
        </div>
    </div>
</div>