<div class="row">
     <div class="col-sm-4">
        <div class="bg-light pt-3 px-3 pt-md-5 px-md-5 m-md-3 text-center overflow-hidden">
            <div class="my-3 py-3">
                {{#if loggedIn}}
                <h1>{{ list.list_name }}</h1>
                <ul>
                    {{#each list.stocks}}
                        <li>{{stock_symbol}}</li>
                    {{/each}}
                </ul>
                
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="bg-light pt-3 px-3 pt-md-5 px-md-5 m-md-3 text-center overflow-hidden">
            <div class="my-3 py-3">
                <h2 class="display-5">Chart</h2>
            </div>
        </div>
    </div>
</div>

{{else}}
<a href="/login">You must login first to view the paintings</a>
{{/if}}